$darkcolor : #3F414A
$redcolor : #9C3A28
$backcolor : #F7EEE4
$redlightcolor : #BB4430
$backlightcolor : #EFE6DD
$margin: 40px

%Basic-Property
  border: 2px solid $redcolor
  background-color: $backlightcolor
  color: $redcolor

=MarginLaR($pix)
  margin-left: $pix
  margin-right: $pix

=MarginTaB($pix)
  margin-top: $pix
  margin-bottom: $pix
