@use 'Ext'
.Rubrique-return
  @extend %Basic-Property
  margin: Ext.$margin
  display: flex
  flex-direction: row
  height: 124px
  span
    display: flex
    flex: auto
    margin-left: Ext.$margin
    h1
      text-align: center
      font-size: 45px
      width: 100%
  img
    display: flex
    flex: auto
    margin-top: 25px
    margin-right: Ext.$margin

.Annonce
  @extend %Basic-Property
  display: flex
  flex-direction: column
  margin-bottom: Ext.$margin
  +Ext.MarginLaR(Ext.$margin)
  .Corps
    display: flex
    flex-direction: row
    .ImgContent
      padding-left: 40px
      padding-top: 71px
      img
        height: 150px
        width: 150px
    .Content
      display: flex
      flex-direction: column
      +Ext.MarginLaR(Ext.$margin)
      width: 100%
      h3
        text-align: center
  span
    display: flex
    flex-direction: row-reverse
    padding-bottom: Ext.$margin / 2
    a
      margin-right: Ext.$margin
      img
        width: 50px
        height: 50px
    p
      margin-right: Ext.$margin
      font-style: oblique
      font-weight: bold