@use 'Ext'
.Rubrique-Adm-table
  @extend %Basic-Property
  +Ext.MarginLaR(40px)
  td
    @extend %Basic-Property
    text-align: center
    padding-right: 10px
    padding-left: 10px
  td:nth-child(3) ,td:nth-child(4) ,td:nth-child(7) ,td:nth-child(8)
    border: none
    background: none