@use 'ListeAnnonce'
@use 'RubriqueAdm'
$darkcolor : #3F414A
$redcolor : #9C3A28
$backcolor : #F7EEE4
$redlightcolor : #BB4430
$backlightcolor : #EFE6DD

$margin: 40px
%Basic-Property
  border: 2px solid $redcolor
  background-color: $backlightcolor
  color: $redcolor

=MarginLaR($pix)
  margin-left: $pix
  margin-right: $pix

=MarginTaB($pix)
  margin-top: $pix
  margin-bottom: $pix

html
  height: 100%
  padding: 0px
  margin: 0px
body
  +MarginLaR($margin)
  background-color: $backcolor
  height: 100%
  display: flex
  flex-direction: column


header
  @extend %Basic-Property
  width: 100%
  display: flex
  flex-direction: row
  div
    display: flex
    width: 100%
  div:last-child
    flex-direction: row-reverse
  img
    width: 100px
    height: 100px

.Rubrique-nav
  +MarginLaR($margin/2)
  ul
    padding: 0px
    +MarginTaB($margin/2)
    display: flex
    flex-wrap: wrap
    a
      @extend %Basic-Property
      flex: auto
      min-width: 31%
      margin-bottom: 2%
      p
        color: $redcolor
        +MarginTaB(10%)
        width: 100%
        text-align: center
        font-size: 34px
        display: inline-block
        font-weight: bold
    a:nth-child(3n+1)
      margin-right: 1%
    a:nth-child(3n+3)
      margin-left: 1%
    li
      list-style-type: none

footer
  background-color: $darkcolor
  color: $backlightcolor
  margin-top: auto
  text-align: center
