.Rubrique-Adm-table, .Rubrique-Adm-table td, header, .Rubrique-nav ul a, .Rubrique-return, .Annonce {
  border: 2px solid #9C3A28;
  background-color: #EFE6DD;
  color: #9C3A28;
}

.Rubrique-return {
  margin: 40px;
  display: flex;
  flex-direction: row;
  height: 124px;
}
.Rubrique-return span {
  display: flex;
  flex: auto;
  margin-left: 40px;
}
.Rubrique-return span h1 {
  text-align: center;
  font-size: 45px;
  width: 100%;
}
.Rubrique-return img {
  display: flex;
  flex: auto;
  margin-top: 25px;
  margin-right: 40px;
}

.Annonce {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.Annonce .Corps {
  display: flex;
  flex-direction: row;
}
.Annonce .Corps .ImgContent {
  padding-left: 40px;
  padding-top: 71px;
}
.Annonce .Corps .ImgContent img {
  height: 150px;
  width: 150px;
}
.Annonce .Corps .Content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}
.Annonce .Corps .Content h3 {
  text-align: center;
}
.Annonce span {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}
.Annonce span a {
  margin-right: 40px;
}
.Annonce span a img {
  width: 50px;
  height: 50px;
}
.Annonce span p {
  margin-right: 40px;
  font-style: oblique;
  font-weight: bold;
}

.Rubrique-Adm-table {
  margin-left: 40px;
  margin-right: 40px;
}
.Rubrique-Adm-table td {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.Rubrique-Adm-table td:nth-child(3), .Rubrique-Adm-table td:nth-child(4), .Rubrique-Adm-table td:nth-child(7), .Rubrique-Adm-table td:nth-child(8) {
  border: none;
  background: none;
}

.Rubrique-nav ul a, header {
  border: 2px solid #9C3A28;
  background-color: #EFE6DD;
  color: #9C3A28;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #F7EEE4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
header div {
  display: flex;
  width: 100%;
}
header div:last-child {
  flex-direction: row-reverse;
}
header img {
  width: 100px;
  height: 100px;
}

.Rubrique-nav {
  margin-left: 20px;
  margin-right: 20px;
}
.Rubrique-nav ul {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.Rubrique-nav ul a {
  flex: auto;
  min-width: 31%;
  margin-bottom: 2%;
}
.Rubrique-nav ul a p {
  color: #9C3A28;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 34px;
  display: inline-block;
  font-weight: bold;
}
.Rubrique-nav ul a:nth-child(3n+1) {
  margin-right: 1%;
}
.Rubrique-nav ul a:nth-child(3n+3) {
  margin-left: 1%;
}
.Rubrique-nav ul li {
  list-style-type: none;
}

footer {
  background-color: #3F414A;
  color: #EFE6DD;
  margin-top: auto;
  text-align: center;
}

/*# sourceMappingURL=Style.css.map */
