{% block titleReturnban %}
    <section class="Rubrique-return">
        <span>
            <h1> {{ title }} </h1>
            <a href="{% if urlchoice is not null %} {{ urlchoice }} {% else %} {{ url }} {% endif %}"><img src="{{ returnRoot("Public/Img/Return.png") }}"></a>
        </span>
    </section>
{% endblock %}
