{% extends 'Base.html.twig' %}
{% block title %}
    Ajouter une Annonce
{% endblock %}
{% block body %}
    <form enctype="multipart/form-data" action='' method="post" id="creaAnnonce">
        <div>
            <label for="Tete">Titre</label>
            <input type="text" name="Titre" id="Tete" required>
            <p></p>
        </div>
        <div>
            <label for="Corps">Description</label>
            <input type="text" name="Description" id="Corps" required>
            <p></p>
        </div>
        <div>
            <label for="Online">Mise en Ligne</label>
            <input type="date" name="Mise en Ligne" id="Online" required>
            <p></p>
        </div>
        <div>
            <label for="End">Fin d'Annonce</label>
            <input type="date" name="Fin d'Annonce" id="End" required>
            <p></p>
        </div>
        <div>
            <label for="Rubrique">Rubrique associé</label>
            <select id="Rubrique" name="Rubrique">
                {% for item in Rubriques %}
                    <option value="{{ item.getId() }}">{{ item.getLibelle() }}</option>
                {% endfor %}
            </select>
            <p></p>
        </div>
        <div>
            <input type="hidden" name="MAX_SIZE_FILE" value="100000">
            <label for="img">Ajouter une image</label>
            <input type="file" name="img" pattern="\.jpg$|\.png$">
        </div>
        <button type="submit" onclick='validForm("creaAnnonce")'>Enregistrer</button>
    </form>
{% endblock %}
{% block Js %}
    <script type="text/javascript" src="{{ returnRoot('Jscript/validForm.js') }}"></script>
{% endblock %}
