{% extends 'Base.html.twig' %}

{% block title %}
    Annonce : {{ content.getTete()}}
{% endblock %}

{% block body %}
    {% use 'titleReturn.html.twig' %}
    {% block titleReturnban %}
        {% set title = content.get_LibelleRubrique() ~ ' - ' ~ content.getTete() %}
        {% set urlchoice = urlaction ~ 'afficherAnnonces&rub='~content.getIdRubrique() %}
        {{ parent() }}
    {% endblock %}

    <article class="Annonce">
        <div class="Corps">
            <div class="ImgContent">
                <img src="{{ returnRoot(content.get_PathImage()) }}">
            </div>
            <div class="Content">
                <h3>{{ content.getTete() }}</h3>
                <p>{{ content.getCorps() }}</p>
            </div>
        </div>
        <span>
            <p>Date Fin : {{ content.getfin() }}</p>
            <p>Date Debut : {{ content.getOnline() }}</p>
            <p>Annonceur : {{ content.getIdPseudo() }}</p>
    </span>
    </article>
{% endblock %}