{% extends'Base.html.twig' %}
{% block title %}
    {{ Rubrique }}
{% endblock %}
{% block body %}
    {% use 'titleReturn.html.twig' %}
    {% block titleReturnban %}
        {% set title = Rubrique %}
        {{ parent() }}
    {% endblock %}
    <form action="#" method="post">
        <div>
            <label for="rubrique">Sélectionner une Rubrique :</label>
            <select id="rubrique" name="rubrique">
                {% for item in rubs %}
                    <option value="{{ item.getId() }}">{{ item.getLibelle() }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="jsaipa">
    {% for item in annonceListe %}


        <article class="Annonce">
            <div class="Corps">
                <div class="ImgContent">
                    <a href="{{ urlaction }}afficherAnnonces&ann={{ item.getId() }}"><img src="{{ returnRoot(item.get_PathImage()) }}"></a>
                </div>
                <div class="Content">
                    <h3>{{ item.getTete() }}</h3>
                    <p>{{ item.getCorps }}</p>
                </div>
            </div>
            <span>
                <a href="{{ urlaction }}afficherAnnonces&ann={{ item.getId() }}"><img
                            src="{{ returnRoot("Public/Img/Add.png") }}"></a>
                <p>Date Fin : {{ item.getFin() }}</p>
                <p>Date Debut : {{ item.getOnline() }}</p>
                <p>{{ item.get_LibelleRubrique() }}</p>
                <p><a href="{{ urlaction }}profile&val={{ item.getIdPseudo() }}">Annonceur : {{ item.getIdPseudo() }}</a></p>
            </span>
        </article>
    {% endfor %}
    </div>
{% endblock %}
{% block Js %}
    <script type="text/javascript" src="{{ returnRoot('Jscript/affAnnonceAjax.js') }}"></script>
{% endblock %}