{% extends "Base.html.twig" %}

{% block title %}
    Liste Rubrique
{% endblock %}

{% block body %}
<nav class="Rubrique-nav">
    <ul>
        {% for item in Rubriques %}
            <a href="{{ urlaction }}afficherAnnonces&rub={{ item.getId() }}" id="{{ item.getId() }}">
                <li><p>{{ item.getLibelle() }}</p></li>
            </a>
        {% endfor %}
    </ul>
</nav>

{% endblock body %}
