<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block Css %}
        <link href="{{ returnRoot('Public/Css/Style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<header>
    <div>
        <figure>
            <a href="{{returnRoot('Controllers/main.php')}}"><img src="{{returnRoot('Public/Img/Bannière.png')}}"></a>
        </figure>
    </div>
    <div>
        <figure>
            <a href="">
                <img src="{{returnRoot('Public/Img/Logo.png')}}">
            </a>
            <a href="{{ returnRoot('Controllers/main.php') }}?action=Identification">
                <figcaption style="text-align: center">{% if session.Pseudo is null %} Connexion {% else %} Déconnexion {% endif %}</figcaption>
            </a>
        </figure>
    </div>
</header>
{% block nav %}
{% if session.Pseudo is not null %}
<nav class="userNav">
    <a href="{{ urlaction }}ajouterAnnonce">Ajouter Annonce</a>
    {% if session.IdRole == 1 or session.IdRole == 2 %}
        <a href="{{ urlaction }}administration">Administration</a>
    {% endif %}
</nav>
{% endif %}
{% endblock %}
{% block body %}

{% endblock body %}

<footer>
    <p>Blabla</p>
</footer>
{% block Js %}

{% endblock %}
</body>
</html>