{% extends "Base.html.twig" %}
{% set idFormCo = "formCo" %}
{% set idFormInsc = "formInsc" %}
{% block body %}
    {% use 'titleReturn.html.twig' %}
    {% block titleReturnban %}
        {% set title = 'Identification'%}
        {{ parent() }}
    {% endblock %}
    <div><p>Connexion</p></div>

    <form action='' method='post' id='{{ idFormCo }}'>
        <div>
            <label for='Pseudo'>Pseudo : </label>
            <input type='text' name='Pseudo' id='Pseudo' required >
            <p>{{ error }}</p>
        </div>
        <div>
            <label for='Mdp'>Mot de Passe : </label>
            <input type='password' name='Mdp' id='Mdp' required >
            <p>{{ error }}</p>
        </div>
        <button type='submit' onclick='validForm("{{ idFormCo }}")'>Valider</button>
    </form>
    <div><p>Inscription :</p></div>
    <form action='' method='post' id='{{ idFormInsc }}'>
        <div>
            <label for='PseudoInsc'>Pseudo : </label>
            <input type='text' name='PseudoInsc' id='PseudoInsc' required >
            <p></p>
        </div>
        <div>
            <label for='MdpInsc'>Mot de Passe : </label>
            <input type='password' name='MdpInsc' id='MdpInsc' required >
            <p></p>
        </div>
        <div>
            <label for='Nom'>Nom :</label>
            <input type='text' name='Nom' id='Nom' required >
            <p></p>
        </div>
        <div>
            <label for='Prenom'>Prenom : </label>
            <input type='text' name='Prenom' id='Prenom' required >
            <p></p>
        </div>
        <div>
            <label for='Mail'>Mail : </label>
            <input type='email' name='Mail' id='Mail' required >
            <p></p>
        </div>
        <button type='submit' onclick='validForm("{{ idFormInsc }}")'>Valider</button>
    </form>
{% endblock %}

{% block Js %}
    <script type="text/javascript" src="{{ returnRoot('Jscript/validForm.js') }}"></script>
{% endblock %}
