{% extends 'Base.html.twig' %}
    {% if data|length > 1 %}
        {% set plur = 's' %}
    {% endif %}

{% block title %}
    Admin : Gestion des Rubriques
{% endblock %}

{% block nav %}
{% endblock %}


{% block body %}
    {% use 'titleReturn.html.twig' %}
    {% block titleReturnban %}
        {% set title = 'Rubrique' ~ plur %}
        {{ parent() }}
    {% endblock %}


    <article>
        {% if data|length > 0 %}
            <table class="Rubrique-Adm-table">
                <thead>
                <tr>
                    <th colspan="8"><h2>Rubrique{{ plur }} existante{{ plur }}</h2></th>
                </tr>
                </thead>
                <tbdoy>
                    <tr>
                        <td>Libelle</td>
                        <td>Id</td>
                        <td></td>
                        <td></td>
                        <td>Libelle</td>
                        <td>Id</td>
                        <td></td>
                        <td></td>

                    </tr>
                    {% set x = 0 %}
                    {% for item in data %}
                        {% set res = x%2 %}
                        {% if res == 0 %}
                            <tr>
                            <td>{{ item.getLibelle() }}</td>
                            <td> {{ item.getId() }} </td>
                            <td>
                                <form method="post" action='' onsubmit="return validDelete('{{ item.getLibelle() }}')">
                                    <input type="hidden" id="del{{ item.getId() }}" value="{{ item.getId() }}"
                                           name="del">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form method="post" action='' onsubmit="return updateRubrique('{{ item.getLibelle() }}')">
                                    <input type="hidden" id="update{{ item.getId() }}"
                                           value="{{ item.getId() }}"
                                           name="update-Id">
                                    <input type="hidden" id="update{{ item.getLibelle() }}"
                                           value="{{ item.getLibelle() }}"
                                           name="update-Lib">
                                    <button type="submit" name="update">Update</button>
                                </form>
                            </td>
                        {% else %}
                            <td>{{ item.getLibelle() }}</td>
                            <td> {{ item.getId() }} </td>
                            <td>
                                <form method="post" action='' onsubmit="return validDelete('{{ item.getLibelle() }}')">
                                    <input type="hidden" id="del{{ item.getId() }}" value="{{ item.getId() }}"
                                           name="del">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form method="post" action='' onsubmit="return updateRubrique('{{ item.getLibelle() }}')">
                                    <input type="hidden" id="update{{ item.getId() }}"
                                           value="{{ item.getId() }}"
                                           name="update-Id">
                                    <input type="hidden" id="update{{ item.getLibelle() }}"
                                           value="{{ item.getLibelle() }}"
                                           name="update-Lib">
                                    <button type="submit" name="update">Update</button>
                                </form>
                            </td>
                            </tr>
                        {% endif %}
                        {% set x = x+1 %}
                    {% endfor %}
                </tbdoy>
                <tfoot>
                <tr>
                    <th colspan="4"><h3>Total :</h3></th>
                    <th colspan="4">{{ data|length }} {{ rubrique }}</th>
                </tr>
                </tfoot>
            </table>
        {% endif %}
        <h2>Nouvelle Rubrique</h2>
        <form action="" method="post">
            <div>
                <label for="libelle">Nom Libelle Rubrique : </label>
                <input type="text" name="libelle" id="libelle" required>
                <input value="ajouterRubrique" type="hidden" name="proute">
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </article>
{% endblock %}

{% block Js %}
    <script src="{{ returnRoot('Jscript/verifRubrique.js') }}"></script>
{% endblock %}
