{% extends 'Base.html.twig' %}
{% block title %}
    Admin : Panel
{% endblock %}
{% block nav %}
    <nav class="Rubrique-nav">
        <ul>
            <a href="{{ urlaction }}gestionRubrique"><li><p>Gestion Rubriques</p></li></a>
            <a href="{{ urlaction }}gestionAnnonce"><li><p>Gestion Annonces</p></li></a>
            <a href="{{ urlaction }}gestionUser"><li><p>Gestion Utilisateurs</p></li></a>
            <a href="{{ urlaction }}gestionRole"><li><p>Gestion Roles</p></li></a>
        </ul>
    </nav>
{% endblock %}
