{% extends 'Base.html.twig' %}
{% block title %}
    Admin : Gestion des Annonces
{% endblock %}
{% block body %}
    {% use 'titleReturn.html.twig' %}
    {% block titleReturnban %}
        {% set title = 'Annonce'%}
        {{ parent() }}
    {% endblock %}
    <table>
        <tr>
            <td>ID</td>
            <td>Rubrique</td>
            <td>Pseudo</td>
            <td>En-tete</td>
            <td>Contenu</td>
            <td>Début</td>
            <td>Fin</td>
            <td>Accés</td>
        </tr>
    {% for item in annonces %}
    <tr>
        <td>{{ item.getId() }}</td>
        <td>{{ item.get_LibelleRubrique() }}</td>
        <td>{{ item.getIdPseudo() }}</td>
        <td>{{ item.getTete() }}</td>
        <td>{{ item.getCorps() }}</td>
        <td>{{ item.getOnline() }}</td>
        <td>{{ item.getfin() }}</td>
        <td><a>Voir</a></td>
        <td>
            <form action="" method="post" onsubmit="">
                <input type="hidden" name="del" value="{{ item.getID() }}" id="del{{ item.getID() }}">
                <button>Supression</button>
            </form>
        </td>
        <td>
            <form action="" method="post" onsubmit="">
                <input type="hidden" name="mod" value="{{ item.getID() }}" id="mod{{ item.getID() }}">
                <button>Modifier Rubrique</button>
            </form>
        </td>
    </tr>
    {% endfor %}
        <tr>

        </tr>
    </table>
{% endblock %}
